.product-list {
  display: grid;
  width: 100%;
  padding-top: 1%;

  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 400px) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}