.product {
  position: relative;
  margin: 5% auto;
  width: 18vw;
  aspect-ratio: 10 / 8;
  background-color: gray;
  transition: .3s;
}

.selected {
  opacity: 0.6;
}

.product:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.product-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 5%;
}

.product-details > span {
  color: white;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 1.2vw;
}

.delete-checkbox {
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;
  width: 10%;
  aspect-ratio: 1 / 1;
  left: 10%;
  top: 12.5%;
  border: 2px solid darkgray;
  font-size: 1vw;
  font-weight: bold;

  user-select: none;
  cursor: pointer;
}